.Results img {
  right: 500px;
  width: 700px;

}
body {
    font-family: sans-serif;
    background-image: url(./assets/space.jpeg);
    background-size: cover;
  }
  
  .wrapper {
    width: 80%;
    margin: 0 auto;
    /* display: flex; */
  }
  
  .controls, .results {
    /* flex: 1; */
    padding: 10px;
  }
  
  form p:nth-of-type(1) {
    margin-top: 0;
  }
  
  h1 {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 100px;
    color: yellow;
    text-shadow: 5px 5px blue;
  }
  
  h2 {
    font-size: 20px;
  }
  
  article p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  article p:nth-of-type(2) {
    font-size: 14px;
    line-height: 2;
  }
  
  nav {
    margin-bottom: 50px;
  }
  
  img {
    margin-left: 20px;
  
  }
